<h1>All Reservations</h1>
<% @reservations.each do |reservation| %>
  <p>User: <%= reservation.user_id %></p>
  <p>Room: <%= reservation.room_id %></p>
  <p>Start Date: <%= reservation.start_date %></p>
  <p>End Date: <%= reservation.end_date %></p>
  <p>Stay Length: <%= reservation.stay_length %></p>
  <p>Price: <%= reservation.price %></p>
  <p>Total: <%= reservation.total %></p>
<% end %>