
<h1>Edit Room</h1>
<%= form_with model: @room do |form| %>
    <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>
  </div>
    <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>