
<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<h1>Write A Review!</h1>
<%= form_with model: @review do |form| %>
  <div>
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>
  <div>
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>
  <div>
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

